@media (max-width: 1024px) {
  html {
    font-size: 8px;
  }
  .container {
    margin-left: 260px;
    margin-right: 24px;
  }
  .header__nav {
    padding: 36px 10px 76px 10px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
  .label-default {
    min-width: 40px;
  }
  .container {
    margin-left: 158px;
    margin-right: 10px;
  }
  .container .container__greetings {
    margin-bottom: 20px;
  }
  .header__nav {
    padding: 36px 10px 76px 10px;
  }
  .header__nav .nav__title-block {
    font-size: 2rem;
  }
  .header__nav .nav__version {
    margin-right: 0;
  }
  .header__nav .nav__link::after {
    display: none;
  }
  .main {
    padding: 10px 5px 10px 10px;
  }
  .main .customers__data .table__header .table__item:first-child {
    width: 110px;
  }
  .main .customers__data .table__header .table__item:nth-child(2) {
    width: 110px;
  }
  .main .customers__data .table__header .table__item:nth-child(3) {
    width: 110px;
  }
  .main .customers__data .table__header .table__item:nth-child(4) {
    width: 110px;
  }
  .main .customers__data .table__header .table__item:nth-child(5) {
    width: 110px;
  }
  .main .customers__pagination .pagination__item + .pagination__item {
    margin-left: 6px;
  }
  .main .customers__pagination .pagination__item-more {
    margin: 0 6px;
  }
  .main .customers__pagination .pagination__link {
    padding: 3px 2px;
    min-width: 15px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 4px;
  }
  .container {
    margin-left: 45px;
    margin-right: 5px;
  }
  .label-default {
    min-width: 30px;
    border-radius: 2px;
  }
  .input {
    padding: 4px;
    border-radius: 4px;
  }
  .header__nav {
    padding: 2px;
    align-items: center;
  }
  .header__nav .nav__title-block {
    margin-bottom: 10px;
  }
  .header__nav .nav__logo {
    margin-right: 0;
  }
  .header__nav .nav__version {
    display: none;
  }
  .header__nav .nav__dashboard {
    display: none;
  }
  .header__nav .nav__link {
    font-size: 0;
    padding: 2px;
  }
  .header__nav .nav__link::after {
    display: none;
  }
  .header__nav .nav__item {
    margin-bottom: 2px;
  }
  .header__nav .nav__img {
    margin-right: 0;
  }
  .header__nav .nav__user .user__avatar {
    width: 32px;
    height: 32px;
    margin-right: 0;
  }
  .header__nav .nav__user .user__data {
    display: none;
  }
  .main {
    border-radius: 10px;
  }
  .main .customers__title {
    font-size: 1.8rem;
  }
  .main .customers__form {
    min-width: 120px;
  }
  .main .customers__search-input {
    padding-left: 20px;
    background-position: 4px 50%;
    width: 100%;
    background-size: 10px 10px;
  }
  .main .customers__data .table__item {
    padding-left: 2px;
    padding-right: 2px;
  }
  .main .customers__pagination .pagination__item + .pagination__item {
    margin-left: 2px;
  }
  .main .customers__pagination .pagination__item-more {
    margin: 0 2px;
  }
  .main .customers__pagination .pagination__link {
    padding: 3px 2px;
    min-width: 12px;
    border-radius: 2px;
  }
}
